<%= render('layouts/errors', :object => @sighting) %>

<%= form_for [@animal, @sighting, @regions] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :latitude %>
  <%= f.number_field :latitude %>
  <%= f.label :longitude %>
  <%= f.number_field :longitude %>
  <%= collection_select @regions %>
  <p><%= f.submit %></p>
<% end %>
